
html{
  direction: rtl;
}






.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
justify-content: space-around;

margin-top: 7vh;
}

.allapp{
  display: flex;
  justify-content: center;
  background-color: rgb(13, 2, 37);

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  background-color: aquamarine;
  margin: 0px;
  display: flex;
  justify-content: center;
  box-shadow: 1px 0.5px 30px darkcyan;

}
.page{
  background-color: bisque;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;

}
.posts-side{
  width: 50%;
  /* background-color: rgb(207, 207, 207); */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;

}

.box-side{
  /* width: 50%; */
  height: 100%;
  /* background-color: rgb(207, 207, 207); */
  display: flex;
  justify-content: center;
  /* align-items: start; */
  margin-top: 20px;
  

}